
.our-team{
    position: relative;
    overflow: hidden;
    }
    .our-team img{
    width: 100%;
    height: auto;
    transform: scale(1.2,1.2) translateX(-25px);
    transition: all 0.20s linear 0s;
    }
    .our-team:hover img{
    transform: scale(1.2,1.2) translateX(0);
    }
    .our-team .over-layer{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    position: absolute;
    top: 0;
    left: 0;
    }
    .our-team .team-content{
    width: 90%;
    position: absolute;
    bottom: -40px;
    padding: 0 25px;
    transition: all 0.40s ease 0s;
    }
    .our-team:hover .team-content{
    bottom: 1%;
    }
    .our-team .title{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    margin: 20px 0 5px;
    text-transform: uppercase;
    }
    .our-team .post{
    display: block;
    font-size: 17px;
    color: #fff;
    margin-bottom: 5px;
    text-transform: capitalize;
    }
    .our-team .description{
    font-size: 15px;
    color: #fff;
    transform: translateY(100%);
    transition: all 0.30s ease 0.1s;
    }
    .our-team:hover .description{
    transform: translateY(0);
    }
    .our-team .social-links{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 10%;
    height: 100%;
    background: #4c4497; 
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    }
    .our-team .social-links li{
    margin: 20px 0;
    }
    .our-team .social-links li a{
    color: #fff;
    padding: 10px 0;
    }
    .our-team .social-links li a:hover{
    text-decoration: none;
    }
    @media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 20px; }
    }

    @media (min-width: 768px) {
        .col-md-5th {
            width: 20%;
            float: left;
        }
    }

